<div class="div" style="background-size: 100%;background-color: rgb(24, 43, 71);">
  <div class="wrapper fadeInDown">
  
    <div id="formContent">
      <!-- Tabs Titles -->
      <button *ngIf="registro == false"   style="color: transparent;border-color: transparent;background-color: transparent;"><h2 class="active"> Inicia sesión </h2></button> 
      <button *ngIf="registro == false" (click)="irRegistro()"  style="color: transparent;border-color: transparent;background-color: transparent;"><h2 class="inactive underlineHover">Registrate </h2></button> 
      <button *ngIf="registro == true" (click)="irLogin()"  style="color: transparent;border-color: transparent;background-color: transparent;"><h2 class="inactive underlineHover"> Inicia sesión </h2></button> 
      <button *ngIf="registro == true"  style="color: transparent;border-color: transparent;background-color: transparent;"><h2 class="active">Registrate </h2></button> 
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/Intro-SERV-8.gif" style="filter: invert(0.5) brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);" id="icon" alt="User Icon" />
      </div>
     


      <!-- Remind Passowrd -->
      <div id="formFooter" *ngIf="registro == false">
        
        <div class="row" style="margin-bottom: 10px;align-items: center;">
          <!-- <div class="col-12">
            <button  class="btn btn-block btn-light shadow" (click)="facebookLogin()" style="width: 100%;padding: 0px;max-width: 250px;display: block;margin: auto;margin-bottom: 5px" > <img src="../../../assets/Iconos XD/Iconos PNG/Boton continua Facebook.png" style="width: 250px" ></button>
  
          </div>-->
          <div class="col-12">
            <button  class="btn btn-block btn-light shadow-lg" (click)="googleLogin()" style="width: 100%;padding: 0px;max-width: 250px;display: block;margin: auto;margin-bottom: 5px" > <img src="../../../assets/Iconos XD/Iconos PNG/Boton continua Google.png" style="width: 250px" ></button>
  
          </div>
          <div class="col-12">
            <button  class="btn btn-block btn-light shadow-lg" (click)="irInicioServ()" style="width: 100%;padding: 0px;max-width: 250px;display: block;margin: auto;margin-bottom: 5px" > <img src="../../../assets/Iconos XD/Iconos PNG/Boton Inicia SERV mail.png.png" style="width: 250px" ></button>
  
          </div>
      </div>
      <div id="formFooter" *ngIf="inicioCorreo == true">
      
        <!-- Login Form -->
      <form>
         <input type="email" id="login2" class="fadeIn second" name="login2" [(ngModel)]="UserEmail2" placeholder="Correo">
        <input type="password" id="password2" class="fadeIn second" name="password2" [(ngModel)]="UserPassword2" placeholder="Contraseña">
        <button type="submit" (click)="loginemail()" class="btn btn-secondary" style="width: 85%;height: 55px;margin-top: 5px;" >Iniciar sesión</button>
      </form>

        <a class="text-primary" href="#">Olvidaste tu contraseña?</a>
      </div>
      </div>

      <div id="formFooter" *ngIf="registro == true">
      
        <!-- Login Form -->
      <form>
        <input type="text" id="nombre" class="fadeIn second" name="login" [(ngModel)]="UserName" placeholder="Nombre">
        <input type="text" id="LastName" class="fadeIn second" name="login" [(ngModel)]="UserLastName" placeholder="Apellido" >
        <input type="text" id="Phone" class="fadeIn second" name="login" [(ngModel)]="UserPhone" placeholder="Teléfono" >
        <input type="text" id="Document" class="fadeIn second" name="login" [(ngModel)]="UserDocument" placeholder="Documento" >
        <select required="required" class="fadeIn second" style="border-radius: 4px;padding: 10px;font-size: large;" name="login" id="city" [(ngModel)]="UserCity" aria-required="true"><option value="" selected> Elige tu ciudad</option>
          <option value="Bogotá"> Bogotá, Colombia.</option>
          <option value="Medellín">Medellín, Colombia.</option></select>
         <input type="email" id="login" class="fadeIn second" name="login" [(ngModel)]="UserEmail" placeholder="Correo">
        <input type="password" id="password" class="fadeIn second" name="login" [(ngModel)]="UserPassword" placeholder="Contraseña">
        <button type="submit" (click)="crearUsuario()" class="btn btn-secondary" style="width: 85%;height: 55px;margin-top: 5px;" >Crear cuenta y continuar</button>
      </form>

       
      </div>
    </div>
  </div>
</div>
<div class="div">
  <div class="row" style="display: block;margin: auto;">
      <div class="col-sm-4" style="display: block;margin: auto;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin: 5px;margin-bottom: 10px;" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block" src="../../../assets/Captura1.png" style="width:85%;border-radius: 10px;margin: auto;display: block;" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block" src="../../../assets/Captura2.png" style="width:85%;border-radius: 10px;margin: auto;display: block;" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block" src="../../../assets/Captura3.png" style="width:85%;border-radius: 10px;margin: auto;display: block;" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>
  <img src="../../../assets/appscoimagen.jpg" style="display:block;margin:auto" width=50% alt="">
</div>

